<%- include('partials/header') %>
        <main>
            <div class="illustration-404">
                <img src="/images/image-404.png" alt="404 not found">
                <a class="button" href="/">Retour à l'accueil</a>
            </div>

            
        </main>
<%- include('partials/footer') %>